@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900');


/* GLOBAL RESETS AND GENERAL STYLES */

html {
	background: #EFF0F2;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font-size: 1em;
	direction: ltr;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #58B4DC;
  margin: 0 auto;
  padding: 0;
  color: #07288D;
	max-width: 1200px;
	border: 5px solid #58B4DC;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'balboa-plus-fill', Helvetica, sans-serif;
  line-height: 1.1em;
}

h1 {
	font-family: "balboa-plus-primary",sans-serif;
}

h2 {
	font-family: "balboa-plus-fill",sans-serif;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 1em;
}
a {
	color: #FAFFFC;
	text-decoration: none;
	line-height: inherit;
}
a:hover {
	color: #F0B202;
	text-decoration: underline;
}

a:focus {
	color: #FAFFFC;
	outline: none;
}

.hidden_label {
	display: none;
}

.readmore_button {
 font-size: 1.4em;
 padding: 0px 10px;
 margin-top: 15px;
 display: inline-block;
 font-family: 'balboa-plus-fill', Helvetica, sans-serif;
}


/* HEADER */

section, header, footer {
  padding: 15px;
}


header {

	background:
     /* top, transparent red, faked with gradient */
     linear-gradient(
       rgba(7, 40, 141, 0.35),
       rgba(88, 180, 220, 1)
     ),
     /* bottom, image */
     url(../images/background.jpg);
	background-size: cover;
}
header .explore.button {
  float:right;
  width: 22%;
  margin-top: 25px;
	display: none;

}

header .explore.button img {
  width: 75%;
	margin-left: 15px;
}


#logo {
  width: 100%;
	text-align: center;
  padding:15px;
}

#logo img {
  width: 100%;
}


/* NAV */

header nav {
  float:left;
  margin-top:30px;
  text-transform: uppercase;
}

nav.navbar {
  padding: 0px;
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #F0B202;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	font-size: 1em;
	font-weight: bold;
	color: #EFF0F2;
}

.navbar-dark .navbar-toggler {
  color: #EFF0F2 !important;
  border: 5px solid #EFF0F2 !important;

}

#navbar {
	margin-top: 20px;
}

header .btn-outline-success {
  color: #EFF0F2;
  border-color: #EFF0F2;
  background-color: #D83203;
}

header .slogan {
  display: inline-block;
  text-align: center;
  width:100%;
  font-size: 1.5em;
  color: #EFF0F2;
	font-family: "balboa-plus-fill",sans-serif;
}

/* SECTION - GENERAL HEADER */
section.header {
	background-color: #D83203;
	min-height: 80px;
}

section.header .headline {
	font-size: 2.8em;
	color: #EFF0F2;
	width: 80%;
	float: left;
}

section.header .header_icon {
	color: #EFF0F2;
	width: 20%;
	float:right;
	text-align: right;
}


section.header .header_icon img {
	width: 55%;
}


/* HOME - SECTION - EXPLORE TOGETHER */

section.explore_together {

	background: url("../images/explore_together.jpg") no-repeat, -moz-linear-gradient(135deg, #58B4DC 0, #07288D 100%);
  background: url("../images/explore_together.jpg") no-repeat, -webkit-gradient(135deg, #6ec575 0, #07288D 100%);
  background: url("../images/explore_together.jpg") no-repeat, -webkit-linear-gradient(135deg, #58B4DC 0, #07288D 100%);
  background: url("../images/explore_together.jpg") no-repeat, -o-linear-gradient(135deg, #58B4DC 0, #07288D 100%);
  background: url("../images/explore_together.jpg") no-repeat, -ms-linear-gradient(135deg, #58B4DC 0, #07288D 100%);
  background: url("../images/explore_together.jpg") no-repeat, linear-gradient(180deg, #58B4DC 0, #07288D 100%);
	background-size: contain;
}
section.explore_together .headline {
	float:right;
	font-size: 3.5em;
	width: 60%;
	margin-bottom: 30px;
	color: #EFF0F2;
}

section.explore_together .head_image {
	float:left;
	width: 55%;
}

section.explore_together .head_image img {
	width: 100%;
	border: 3px solid #EFF0F2;

}

section.explore_together .content {
	display: inline-block;
	color: #EFF0F2;
	font-size: 0.8em;
	padding-top:20px;

}

/* SECTION - LATEST NEWS */
section.latest_news {
	background-color: #EFF0F2;
}

section.latest_news .headline {
	color: #F0B202;
	font-size: 2.5em;
	text-align: center;
}


section.latest_news .headline_small {
	color: #D83203;
	font-size: 2em;
	text-align: center;
}

section.latest_news .content {
	color: #D83203;
	float:left;
	width:50%;
	font-size: 0.8em;
	margin-top: 10px;
	text-align: center;
}

section.latest_news .content_image {
	float:right;
	width:45%;
	margin-top: 10px;
}
section.latest_news .content_image img {
	width:100%;
}
section.latest_news .readmore_button {
	color: #EFF0F2;
	background-color: #D83203;
	border: 3px solid #F0B202;
}


section.latest_news .navigation_arrows {
	position: absolute;
	width: 90%;
}

section.latest_news div.arrow.left {
 position: absolute;
 left:10px;
}

section.latest_news div.arrow.right {
	position: absolute;
  right:10px;
}



/* HOME - SECTION - EXIBITIONS */
section.exibitions {
	background-color: #58B4DC;
}

section.exibitions .head_image {
	float:left;
	width: 60%;
}

section.exibitions .head_image img {
	width: 90%;
}

section.exibitions .exibition_headlines {
	float:right;
	width: 40%;
}

section.exibitions .exibition_headlines .headline_small h2 {
		color: #EFF0F2;
		font-size: 1.7em;
}

section.exibitions .exibition_headlines .headline h3 {
		color: #F0B202;
		font-size: 2.3em;
}

section.exibitions .content {
	display: inline-block;
	margin-top: 15px;
	color: #EFF0F2;
	font-size: 0.8em;
}

section.exibitions .button_area {
	text-align: center;
}

section.exibitions .readmore_button {
	color: #EFF0F2;
	margin: auto;
	background-color: #D83203;
	border: 3px solid #F0B202;
}



/* HOME - SECTION - OPENING HOURS */

section.opening_hours {
	background-color: #EFF0F2;
	color: #D83203;
	padding:40px;
	min-height: 330px;
}

section.opening_hours .headline  {
	text-align: center;
	margin-bottom: 15px;
}

section.opening_hours .headline h2 {
	font-size: 2.5em;
}

section.opening_hours .left {
	float: left;
	font-size: 0.8em;
	width: 30%;
}

section.opening_hours .right {
	float: right;
	font-size: 0.8em;
	width: 50%;
}

/* HOME - SECTION - EVENTS */
section.next_event {
	background-color: #07288D;
	color: #EFF0F2;
}

section.next_event .headline {
	text-align: center;
}

section.next_event .headline h2 {
	font-size: 2.3em;
	margin-bottom: 15px;
	color: #F0B202;
}

section.next_event .content h3 {
	font-size: 1.5em;
	margin-left: 20px;
}
section.next_event .content h4 {
	font-size: 1.2em;
	margin-left: 40px;
	color: #58B4DC;
}

section.next_event .content p {
	font-size: 0.8em;
	margin-left: 60px;
}


section.next_event .button_area {
	text-align: right;
}

section.next_event .readmore_button {
	color: #EFF0F2;
	margin: auto;
	background-color: #D83203;
	border: 3px solid #F0B202;
}

section.next_event .navigation_arrows {
	position: absolute;
	width: 90%;
}

section.next_event div.arrow.left {
 position: absolute;
 left:10px;
 top: 10px;
}
section.next_event div.arrow.left img {
	fill: #EFF0F2 !important;
}

section.next_event div.arrow.right {
	position: absolute;
  right:10px;
  top: 10px;
}

/* SECTION - NEWSLETTER */
section.newsletter {
    background-color: #D83203;

}

section.newsletter div.newsletter_headline {
	text-align: center;
	padding: 15px 0px;
}

section.newsletter div.newsletter_headline h2 {
	font-size: 1.2em;
	color: #F0B202;
}

section.newsletter_input {
	text-align: center;
	padding-bottom: 20px;
}
section.newsletter input[type=text] {
	border: 2px solid #07288D;
	font-family: "balboa-plus-fill",sans-serif;
	color:  #07288D;
	padding: 5px 60px;
	margin-left: 8px;
	background-color: #EFF0F2;
	width: 78%;
}

section.newsletter input[type=submit] {
	border: 2px solid #07288D;
	font-family: "balboa-plus-fill",sans-serif;
	color:  #EFF0F2;
	background-color: #F0B202;
	padding: 5px 15px;
}



/* EXPLORE - SECTION - EXPLORE */
section.explore {
	background-color: #D83203;
}


div.tabs {

				-webkit-display: flex;
				-ms-display: flex;
				display: flex;

				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;

				-ms-flex-wrap: wrap;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;

				justify-content: center;
}

section.explore div.forkids {
	background-color: #F0B202;
	width: 34%;
	margin-left: -12px;
	float:left;
	text-align: center;
}

section.explore div.forkids a {
	font-size: 1.5em;
	color: #07288D;
	font-family: "balboa-plus-primary",sans-serif;
	text-decoration: none;
}


section.explore div.teachers {
	background-color: #07288D;
	width: 34%;
	float:left;
	text-align: center;
	margin: 0px 3px;
}

section.explore div.teachers a {
	font-size: 1.5em;
	color: #EFF0F2;
	font-family: "balboa-plus-primary",sans-serif;
	text-decoration: none;
}

section.explore div.researchers {
	background-color: #EFF0F2;
	width: 34%;
	margin-right: -12px;
	float:left;
	text-align: center;
}

section.explore div.researchers a {
	font-size: 1.5em;
	color: #07288D;
	font-family: "balboa-plus-primary",sans-serif;
	text-decoration: none;
}


section.explore div.content_kids {
	background-color: #F0B202;
	color: #07288D;
	font-size: 1em;
	margin: 3px -11px 3px -11px;
	padding: 15px 14px 15px 15px;
}

section.explore div.content_teachers {
	background-color:  #07288D;
	color:#EFF0F2;
	font-size: 1em;
	margin: 3px -11px 3px -11px;
	padding: 15px 14px 15px 15px;
}

section.explore div.content_researchers {
	background-color:#EFF0F2;
	color:#07288D;
	font-size: 1em;
	margin: 3px -11px 3px -11px;
	padding: 15px 14px 15px 15px;
}




/* EXIBITION SPACES - SECTION - COSMOLOGY */
section.cosmology {
	background-color: #58B4DC;
}

section.cosmology .explore_image {
	background: url("../images/cosmology.jpg") no-repeat;
}

section.cosmology .explore_content {
	color: #EFF0F2;
	font-size: 0.9em;
	padding: 10px 0px;
}


/* EXIBITION SPACES - SECTION - EVOLUTION */
section.evolution {
	background-color: #D83203;
}

section.evolution .explore_image {
	background: url("../images/evolution.jpg") no-repeat;
}

section.evolution .explore_content {
	color: #EFF0F2;
	font-size: 0.9em;
	padding: 10px 0px;
}


/* EXIBITION SPACES - SECTION - BIOLOGY AND MEDICINE */
section.biologyandmedicine {
	background-color: #F0B202;
}

section.biologyandmedicine .explore_image {
	background: url("../images/biology.jpg") no-repeat;
}

section.biologyandmedicine .explore_content {
	color: #D83203;
	font-size: 0.9em;
	padding: 10px 0px;
}

/* EXIBITION SPACES - SECTION - ROBOTICS AND AI */
section.roboticsandai {
	background-color: #58B4DC;
}

section.roboticsandai .explore_image {
	background: url("../images/robotics.jpg") no-repeat;
}

section.roboticsandai .explore_content {
	color: #EFF0F2;
	font-size: 0.9em;
	padding: 10px 0px;
}

/* EXIBITION SPACES - SECTION - ECOLOGY */
section.ecology {
	background-color: #F0B202;
}

section.ecology .explore_image {
	background: url("../images/ecology.jpg") no-repeat;
}

section.ecology .explore_content {
	color: #D83203;
	font-size: 0.9em;
	padding: 10px 0px;
}


/* EXIBITION SPACES - EXIBITION SPACES GENERAL STYLES */

main.exibitions .explore_image {
	background-size: cover;
	min-height: 200px;
	position: relative;
}

main.exibitions .explore_title {
	background-color: #EFF0F2;
	color: #D83203;
	display: inline;
	padding: 7px;
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 2.6em;
	position: absolute;
	bottom: 7px;
	right: 7px;
	border: 2px solid #D83203;
}

main.exibitions .readmore {
	background-color: #EFF0F2;
	padding: 2px 7px;
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 1.2em;
	border: 2px solid #D83203;
	display: inline;
	margin-right: 0;
}
main.exibitions .readmore a {
	color: #D83203 !important;

}

main.exibitions .button_area {
	width: 100%;
	text-align: center;
	margin: 5px 0px;
}

/* Overrides for evolution section */

section.evolution .readmore {
	background-color: #D83203 !important;
	color: #EFF0F2 !important;
	padding: 2px 7px;
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 1.2em;
	border: 2px solid #EFF0F2 !important;
	display: inline;
	margin-right: 0;
}

section.evolution .readmore a {
	color: #EFF0F2 !important;
}


/* SPECIAL EVENTS AND EXIBITIONS - SECTION - EVENTS AND EXIBITIONS  */

main.events_and_exibitions section.header {
	min-height: 130px;
}

main.events_and_exibitions section.header .header_icon img {
	width: 100%;
}


section.events .headline {
	font-size: 2em;
	line-height: 1.1;
	margin-left: -15px;
	font-family: "balboa-plus-fill",sans-serif;
}


section.events .headline span:first-child {
	color: #D83203;
}

section.events .headline span:nth-child(2) {
	color: #EFF0F2;
}

section.events .timelocation {
	font-size: 1em;
	font-family: "balboa-plus-fill",sans-serif;
color: #EFF0F2;
}


section.events .event_image {
	float:left;
	margin-left: -15px;
	width: 50%;

}

section.events .event_image img {
	width: 95%;
}

section.events .content {
	float:right;
	width: 50%;
	font-size: 0.9em;


}


/* VISIT - SECTION - LOCATION */
section.location  {
	background-color: #58B4DC;
}

section.location .left {
	color: #EFF0F2;
	font-size: 1em;
	text-align: center;
}

section.location .right {
	color: #07288D;
	text-align: center;
}

section.info {
	color: #D83203;
	background-color: #EFF0F2;
}


/* GET INVOLVED - SECTION - GET INVOLVED */
main.get_involved section.header div.header_icon img{
	width: 100%;
}


section.get_involved {
	background-color: #D83203;
}

section.get_involved div.support {
	background-color: #F0B202;
	width: 33%;
	margin-left: -12px;
	float:left;
	text-align: center;
}

section.get_involved div.support a {
	font-size: 1.5em;
	color: #07288D;
	font-family: "balboa-plus-primary",sans-serif;
	text-decoration: none;
}


section.get_involved div.volunteer {
	background-color: #07288D;
	width: 33%;
	float:left;
	text-align: center;
	margin: 0px 3px;
}

section.get_involved div.volunteer a {
	font-size: 1.5em;
	color: #EFF0F2;
	font-family: "balboa-plus-primary",sans-serif;
	text-decoration: none;
}

section.get_involved div.internships {
	background-color: #EFF0F2;
	width: 33%;
	margin-right: -12px;
	float:left;
	text-align: center;
}

section.get_involved div.internships a {
	font-size: 1.5em;
	color: #07288D;
	font-family: "balboa-plus-primary",sans-serif;
	text-decoration: none;
}


section.get_involved div.content_support {
	background-color: #F0B202;
	color: #07288D;
	font-size: 1em;
	margin: 3px -11px 3px -11px;
	padding: 15px 14px 15px 15px;
}

section.get_involved div.content_volunteer {
	background-color:  #07288D;
	color:#EFF0F2;
	font-size: 1em;
	margin: 3px -11px 3px -11px;
	padding: 15px 14px 15px 15px;
}

section.get_involved div.content_internships {
	background-color:#EFF0F2;
	color:#07288D;
	font-size: 1em;
	margin: 3px -11px 3px -11px;
	padding: 15px 14px 15px 15px;
}




/* FOOTER */

footer .footer_element {
  width: 33%;
  float:left;
  text-align: center;
}


footer {
  display: inline-block;
	background-color: #58B4DC !important;
	width: 100%;
}

#footer_logo {
  text-align: center;
}


#footer_logo img {
  width:70%;
}

footer .social_icons {
	-webkit-display: flex;
	-ms-display: flex;
	display: flex;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;

	justify-content: center;

}

footer .social_icons a {

  width:40%;
}

footer .social_icons a img {
  width: 70%;
  margin: 10px 0px;
  margin-top: 0px;
}

footer .footer_element.center {
  color: #EFF0F2;
  font-size: 1.2em;
}

footer .footer_element.right {
  float:right;
}

footer .address {
  display: block;
  font-size: 0.6em;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
}


/* MOBILE AND DESKTOP STYLES */


@media only screen and (min-width : 320px) and (max-width : 413px) {
	section.explore_together h1 {
		font-size: 0.9em;
	}

	main.exibitions .explore_title {
			font-size: 2em;
	}

	section.explore div.forkids a,
	section.explore div.teachers a,
	section.explore div.researchers a
	{
		font-size: 1.2em;
	}

	section.get_involved div.support a,
	section.get_involved div.volunteer a,
	section.get_involved div.internships a
	{
		font-size: 1.2em;
	}

	section.newsletter input[type=text] {
		font-size: 0.8em;
	}

	section.newsletter input[type=submit] {
		font-size: 0.8em;
	}

	iframe {
		width: 250px;
	}


}

@media only screen and (min-width : 414px) and (max-width : 519px) {
	section.explore_together h1 {
		font-size: 1.1em;
	}
	section.explore div.researchers {
		width: 34%;
	}
	section.get_involved div.support {
		width: 34%;
	}

	#logo {
		margin-top: 20px;
	}

	#logo img {
		width: 60%;
	}

}

@media only screen and (min-width : 520px) and (max-width : 767px) {
	section.explore_together h1 {
		font-size: 1.9em;
	}
	section.explore div.researchers {
		width: 34%;
	}
	section.get_involved div.support {
		width: 34%;
	}

	#logo {
		margin-top: 20px;
	}

	#logo img {
		width: 30%;
	}
}

@media only screen and (min-width : 768px) and (max-width : 989px) {

	#logo {
		margin-top: 20px;
	}

	#logo img {
		width:40%;
	}

	.navbar-dark .navbar-toggler {
		padding: 30px;
	}

	.navbar-dark .navbar-nav .nav-link {
		font-size: 1.5em;
	}

	header .slogan {
		font-family: "balboa-plus-fill",sans-serif;
		font-size: 3em;
	}


	section.explore_together h1 {
		font-size: 2.2em;
		margin-bottom: 30px;
	}

	section.explore_together .content p {
		font-size: 1.5em;
	}

	section.latest_news .content {
		font-size: 1.5em;
	}
	section.latest_news h2 {
		font-size: 2em;

	}
	section.latest_news h3
	{
		font-size: 3em;
	}

	section.exibitions .content {
		font-size: 1.5em;
	}

	section.exibitions .exibition_headlines h2 {
		font-size: 3em !important;
	}
	section.exibitions .exibition_headlines h3
	{
		font-size: 5em !important;
	}

	section.exibitions .readmore_button {
		font-size: 2em;
	}

	section.latest_news .navigation_arrows {
		width: 96%;
	}

	section.opening_hours h2 {
		font-size: 5em !important;
	}


	section.opening_hours .left,
	section.opening_hours .right
	{
		font-size: 1.5em;
		margin-bottom: 30px;
	}

	section.next_event {
		font-size: 1.5em !important;
	}

	section.newsletter {
		font-size: 1.5em !important;
	}

	footer {
		font-size: 1.5em !important;

	}

	section.explore {
		font-size: 1.5em !important;
	}

	section.explore div.forkids,
	section.explore div.teachers,
	section.explore div.researchers {
		width: 33%;
	}
	section.explore div.support {
		width: 33%;
	}

	section.header .headline h1 {
		font-size: 2em;
	}

	main.exibitions .readmore,
	main.exibitions .explore_title {
		font-size: 2em;
	}

	main.exibitions .explore_content {
		font-size: 1.5em !important;
	}
	main.exibitions div.explore_image {
		min-height: 400px;
	}

	main.events_and_exibitions .content {
		font-size: 1.5em;
	}


	main.events_and_exibitions .headline span,
	main.events_and_exibitions .timelocation span
	{
		font-size: 1.8em !important;
	}

	section.location,
	section.info {
		font-size: 1.5em;
	}

	section.get_involved {
		font-size: 1.5em;
	}


	section.explore div.forkids a,
	section.explore div.teachers a,
	section.explore div.researchers a
	{
		width: 34%;
	}

	section.get_involved div.support,
	section.get_involved div.volunteer,
	section.get_involved div.internships
	{
		width: 34%;
	}
}

@media only screen and (min-width : 990px) and (max-width : 1200px) {

	#logo img {
		width:40%;
	}

	.navigation_arrows img {
		width: 50%;
	}


	section.next_event .navigation_arrows {
		width: 88%;
	}

	section.next_event div.arrow.left {
		top: 0px;
		left: 160px;
	}

	section.next_event div.arrow.right {
		top: 0px;

	}

  header .slogan {
		font-size:  5em;
	}

	.navbar-dark .navbar-nav .nav-link {
		font-size: 2em;
		font-weight: bold;
	}

	section.explore_together h1 {
		font-size: 2.9em;
		margin-bottom: 30px;
	}

	section.explore_together .content {
		font-size: 1.8em;
		margin-top: 20px;
	}


	section.latest_news .content {
		font-size: 2em;
	}

	section.latest_news h2 {
		font-size: 2em;

	}

	section.latest_news h3
	{
		font-size: 3em;
	}


	section.latest_news .navigation_arrows {
		width: 88%;
	}

	section.latest_news div.arrow.left {
		top: 0px;
		left: 160px;
	}

	section.latest_news div.arrow.right {
		top: 0px;

	}

	section.exibitions .content {
		font-size: 2em;
	}

	section.exibitions .exibition_headlines h2 {
		font-size: 4em !important;
	}
	section.exibitions .exibition_headlines h3
	{
		font-size: 6em !important;
	}

	section.exibitions .readmore_button {
		font-size: 3em;
	}


	section.opening_hours h2 {
		font-size: 5em !important;
	}

	section.opening_hours .left,
	section.opening_hours .right
	{
		font-size: 2em;
		margin-bottom: 30px;
	}

	section.next_event {
		font-size: 2em !important;
	}

	section.next_event h3,
	section.next_event h4
	{
		font-size: 2em !important;
		margin: 20px 0px;
	}

	section.next_event .content p {
		font-size: 1.2em;
	}

	section.newsletter {
		font-size: 1.5em !important;
	}

	footer {
		font-size: 2.5em !important;

	}

	section.newsletter {
		font-size: 3em !important;
		text-align: center;
		min-height: 250px;
	}


	section.header h1 {
		font-size: 3em;
		margin-bottom: 20px;
	}

	section.explore div.forkids {
			width: 33% !important;
			font-size: 2.5em;
			margin-left: -3px;
	}

	section.explore div.teachers {
			width: 33% !important;
			font-size: 2.5em;
	}

	section.explore div.researchers {
			width: 33% !important;
			font-size: 2.5em;
	}

	section.explore div.content_kids,
	section.explore div.content_teachers,
	section.explore div.content_researchers  {
		font-size: 1.7em;
		margin: 3px -3px;
	}

	section.get_involved div.support {
			width: 33% ;
			font-size: 2.5em;
			margin-left: -3px;
	}

	section.get_involved div.volunteer {
			width: 33%;
			font-size: 2.5em;
	}

	section.get_involved div.internships {
			width: 33%;
			font-size: 2.5em;
	}

	section.get_involved div.content_support,
	section.get_involved div.content_volunteer,
	section.get_involved div.content_internships  {
		font-size: 1.7em;
		margin: 3px -3px;
	}

	main.exibitions .header_icon img {
		width: 100%;
		margin-top: 40px;
	}

	main.exibitions .readmore,
	main.exibitions .explore_title {
		font-size: 2em;
	}

	main.exibitions .explore_content {
		font-size: 1.5em !important;
	}
	main.exibitions div.explore_image {
		min-height: 400px;
	}

	main.exibitions .readmore,
	main.exibitions .explore_title {
		font-size: 4em;
	}

	main.exibitions .explore_content {
		font-size: 2em !important;
	}
	main.exibitions div.explore_image {
		min-height: 600px;
	}



	main.events_and_exibitions .content {
		font-size: 2.2em;
	}

	main.events_and_exibitions .headline span
	{
		font-size: 2.8em !important;
	}


	main.events_and_exibitions .timelocation span {
		font-size: 3em !important;
	}

	section.location,
	section.info {
		font-size: 2.5em;
	}

	section.location iframe {
		width: 80%;
	}
}





@media only screen and (min-width : 1201px) {

		#logo img {
			width:40%;
		}

		.navbar-dark .navbar-nav .nav-link {
			color: #07288D;
		}

		section.explore_together .headline {
			color: #EFF0F2;
			font-size: 4em;
		}


	  /* NAVIGATION ARROWS - HOME */


		section.latest_news .navigation_arrows {
			width: 50%;
		}

		section.latest_news .navigation_arrows img {
			width: 30%;
		}

		section.latest_news div.arrow.left {
			top: 0px;
			left: 0px;
		}

		section.latest_news div.arrow.right {
			top: 0px;
			right: 220px;

		}


		section.next_event .navigation_arrows {
			width: 60%;
		}

		section.next_event .navigation_arrows img {
			width: 30%;
		}

		section.next_event div.arrow.left {
			top: 0px;
			left: 200px;
		}

		section.next_event div.arrow.right {
			top: 0px;

		}

	  header .slogan {
			font-size:  5em;
		}


		section {
			width: 50%;
			padding:30px !important;
		}

		section.next_event,
		section.newsletter {
			width: 100%;
		}

		section.opening_hours {
			background-color: #F0B202;
		}

		main {

		   -webkit-display: flex;
		   -ms-display: flex;
		   display: flex;

			 -webkit-flex-direction: row;
			 -ms-flex-direction: row;
		   flex-direction: row;

			 -ms-flex-wrap: wrap;
			 -moz-flex-wrap: wrap;
			 -webkit-flex-wrap: wrap;

		   justify-content: flex-start;
		}


		.navbar-dark .navbar-nav .nav-link {
			font-size: 2em;
			font-weight: bold;
		}

		section.explore_together h1 {
			font-size: 1.4em;
			margin-bottom: 30px;
		}

		section.explore_together .content {
			font-size: 1.8em;
			margin-top: 20px;
		}

		section.latest_news {
			-webkit-display: flex;
			-ms-display: flex;
			display: flex;

			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;

			justify-content: flex-start;
		}

		section.latest_news .content {
			font-size: 2em;
		}

		section.latest_news h2 {
			font-size: 1.4em;
			-ms-flex-order: -1;
			-webkit-order: -1;
			order: -1;

		}
		section.latest_news h3
		{
			font-size: 2.2em;
			-ms-flex-order: 0;
			-webkit-order: 0;
			order: 0;
		}

		section.latest_news .content_image {
			width: 100%;
			-ms-flex-order: 1;
			-webkit-order: 1;
			order: 1;
		}

		section.latest_news .content {
			display: block;
			width: 100%;
			-ms-flex-order: 2;
			-webkit-order: 2;
			order: 2;
		}

		section.exibitions .exibition_headlines {
			width: 100%;
		}

		section.exibitions .head_image {
			width: 100%;
		}

		section.exibitions .content {
			font-size: 2em;
		}

		section.exibitions .exibition_headlines h2 {
			font-size: 4em !important;
		}
		section.exibitions .exibition_headlines h3
		{
			font-size: 6em !important;
		}

		section.exibitions .readmore_button {
			font-size: 3em;
		}


		section.opening_hours h2 {
			font-size: 5em !important;
		}


		section.opening_hours .left {
			font-size: 1.3em;
			margin-bottom: 30px;
			width: 30%;

		}
		section.opening_hours .right {
			width: 60%;
			font-size: 1.8em;
			margin-bottom: 30px;
		}

		section.next_event {
			font-size: 2em !important;
		}

		section.next_event h3,
		section.next_event h4
		{
			font-size: 2em !important;
			margin: 20px 0px;
		}

		section.next_event .content p {
			font-size: 0.8em;
		}

		section.newsletter {
			font-size: 1.5em !important;
		}

		footer {
			font-size: 2.5em !important;

		}

		section.newsletter {
			font-size: 3em !important;
			text-align: center;
			min-height: 250px;
		}



		/* EXPLORE */


	 main.explore section.header {
			background: url("../images/explore_together.jpg") no-repeat;
			background-size: cover;
		}

		section.header .headline {
			font-size: 8em;
		}

		section.header .header_icon img {
			width: 100%;
		}


		section.explore div.tabs div {
			width: 100%;
			display: block;
			margin: 0px;
			padding: 0px;
			font-size: 2em;
		}

		section.explore div.content_kids,
		section.explore div.content_teachers,
		section.explore div.content_researchers
		 {
			margin: 0px;
		}

		/* EXIBITIONS */

		main section {
			border: 10px solid #EFF0F2;
		}

		main.exibitions section.header .header_icon {
			display: none;
		}

		main.exibitions section.header {
 			background: url("../images/exibition_spaces.jpg") no-repeat;
 			background-size: cover;
 		}

		/* EVENTS */
		section.event {
			width: 100%;
		}


		main.events_and_exibitions section.header {
 			background: url("../images/events_background.jpg") no-repeat;
 			background-size: cover;
 		}		/* VISIT */


		main.visit section.header {
 			background: url("../images/exibition_spaces.jpg") no-repeat;
 			background-size: cover;
 		}

		main.visit section.header {
			width: 100%;;
		}

		main.visit section.header .header_icon img {
			width: 50%;
		}

		main.visit section.location,
		main.visit section.info {
			font-size: 1.5em;
		}

		main.visit iframe {
			width: 80%;
		}

		/* GET INVOLVED */

		section.get_involved div.tabs div {
			width: 100%;
			display: block;
			margin: 0px;
			padding: 0px;
			font-size: 2em;
		}


		main.get_involved section.header {
 			background: url("../images/ecology.jpg") no-repeat;
 			background-size: cover;
 		}


		section.get_involved div.content_support,
		section.get_involved div.content_volunteer,
		section.get_involved div.content_internships
		 {
			margin: 0px;
		}

}
